<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stackchan Thoughts</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/websocket.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar">
          <h2 class="sidebar-title">スタックチャン</h2>
          <object
            type="image/svg+xml"
            data="/static/image/stackchan_neutral.svg"
            width="80%"
            height="auto"
          ></object>
          <form id="message-form" class="mb-3 message-form">
            <div class="mb-3">
              <label for="message-input" class="form-label"
                >スタックチャンと話そう!</label
              >
              <input type="text" class="form-control" id="message-input" />
            </div>
            <button type="submit" class="btn btn-primary">送信</button>
          </form>
        </div>
        <!-- Main content -->
        <div class="col-md-9 col-lg-10 ms-md-auto main-content">
          <h1>StackChan Log</h1>
          <div class="messages">
            {% for message in messages %}
            <div class="message d-flex flex-column align-items-start mb-3">
              <div class="icon ms-3">{{ message.emoji }}</div>
              <div class="text ms-3">{{ message.ai_chat }}</div>
              <button
                class="btn btn-link text-decoration-none text-start"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#message-{{ loop.index }}"
                aria-expanded="false"
                aria-controls="message-{{ loop.index }}"
              >
                詳細を表示
              </button>
              {% if message.human_chat %}
              <div
                class="collapse"
                id="message-{{ loop.index }}"
                style="width: 100%"
              >
                <hr style="width: 100%" />
                <div class="details ms-3">
                  <strong>Human:</strong> {{ message.human_chat }}
                </div>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and its dependencies -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      // フォームを使ってメッセージを送信
      document
        .querySelector("#message-form")
        .addEventListener("submit", (event) => {
          event.preventDefault(); // 通常のフォーム送信を停止
          const messageInput = document.querySelector("#message-input");
          sendMessage(messageInput.value);
          messageInput.value = ""; // 入力フィールドをクリア
        });
    </script>
  </body>
</html>
